*.log
build/
codegen_tools_build/
codegen_tools_install/
.clangd/
.cache/
.vscode/
.idea/
*ragdoll/*__pycache__*
cmake-build-debug/
cmake-build-release/
dist/
*.vmfb
*.pyc
*__pycache__*

compile_commands.json
*.ipynb_checkpoints*
