build/
codegen_tools_build/
codegen_tools_install/
.clangd/
.cache/
.vscode/
.idea/
cmake-build-debug/
cmake-build-release/
dist/
site/
**/*.vmfb
**/*.pyc
**/*.env
**.bak
sandbox/
**/__pycache__/*

compile_commands.json
*.ipynb_checkpoints*
data/
nohup.out
third_party/llvm-project/


# Added by cargo

/target
