[submodule "third_party/ragdoll-codegen"]
	path = third_party/ragdoll-codegen
	url = git@github.com:codes1gn/ragdoll-codegen.git
[submodule "third_party/ragdoll-llvm-project"]
	path = third_party/ragdoll-llvm-project
	url = git@github.com:codes1gn/ragdoll-llvm-project.git
