build/
codegen_tools_build/
codegen_tools_install/
.clangd/
.cache/
.vscode/
.idea/
cmake-build-debug/
cmake-build-release/
dist/
**/*.vmfb
**/*.pyc
**/*.env
sandbox/
**/__pycache__/*

compile_commands.json
*.ipynb_checkpoints*
